@media (max-width: 1050px) {

    * {
        align-items: center;
    }

    .nav-list, .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transition: all 0.4s ease-in-out; */
    }

    .navbar {
        height: 400px;
        flex-direction: column;
        transition: all 0.4s ease-out;
        position: relative; /* absolute brings in on top of banner  */
    }

    .small-nav {
        height: 0px;
        /* height: 10px; */
        /* position: sticky; */
    }

    .front {
        height: 1000px;
    }

    .expand-navbar {
        height: 750px;
    }
    
    .icons {
        opacity: 0;
    }

    .burger {
        display: block;
    }
    
    .banner, .content, .list-item{
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .photo , .about{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    
    .photo {
        padding: 50px;
    }

    .photo img {
        max-width: 328px;
        width: 60%;
        min-width: 140px;
    }

    .about h1 {
        font-size: 24px;
    }

    .about h2 {
        font-size: 14px;
    }

    .about {
        width: 100%;
    }

    .details a{
        display: flex;
        justify-content: center;
    }
}
