* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* navigation bar below */

.front {
    /* background: linear-gradient(to bottom right, turquoise, rgb(45, 82, 194)); */
    background: linear-gradient(to right, aqua, violet);
    height: 750px;
}
.navbar {
    display: flex;
    width: 100%;
    background: linear-gradient(to right, aqua, violet);
    /* position: sticky; */
    top: 0; /* important to make position sticky*/
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 24px 30px;
    margin: auto;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

.nav-list li a:hover {
    color: lightyellow;
}

.logo img{
    width: 21%;
    margin-top: 10px;
    margin-left: 15px;
    border: solid white 2px;
    border-radius: 50%;
    
}

.burger {
    display: none;
    position: absolute; /* very important point */
    cursor: pointer;
    top: 15px;
    right: 5%;
}

.line {
    background-color: white;
    width: 20px;
    height: 3px;
    margin: 5px 2px;
    border-radius: 1px;
}

/* banner starts below */

.banner {
    display: flex;
    margin-top: 3%;
}

.photo {
    width: 50%;
    margin: 30px 0px;
}

.photo img {
    margin: 0px 40px;
    border: solid white 4px;
    border-radius: 50%;
}

.link-logo {
    margin: 7px 10px;
    display: flex;
}

.link-logo img {
    width: 29%;
    border: solid white 2px;
    border-radius: 40%;
    display: flex;
}

.about {
    width: 50%;
    margin-top: 150px;
    margin-left: 250px;
}

.text-big {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 12px 0px;
    color: white;
}

.text-small {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.details {
    list-style: none;
    margin: 17px 0px;
}


/* another section below */
.content {
    margin: 150px;
    background-color: lightblue;
    display: flex;
    padding: 20px;
}

.head {
    display: flex;
    flex-direction: column;
}
.head h2 {
    display: inline;
    border: solid rgb(45, 82, 194) 4px;
    border-radius: 10px;
    background-color: rgb(45, 82, 194);
    padding: 8px;
    margin: auto;
    color: white;
    font-size: 22px;
    text-align: center;
}

.head img{
    width: 55%;
    margin: auto;
    border: solid white 4px;
    border-radius: 20%;
}

.content-in {
    width: 75%;
    margin: auto;
}

.list-item {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.list-item li {
    margin: 20px;
    padding: 22px 10px;
    text-align: center;
}

.list-item h3{
    margin: 15px 8px;
    padding: 8px 24px;
    font-size: 18px;
    border: solid cadetblue 2px;
    border-radius: 10px;
    color: white;
    background: cadetblue;
}

.list-item p {
    font-size: 18px;
}

.footer {
    background-color: cadetblue;
    height: 35px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

/* #skills .list-item {
    display: block;
}

#skills li{
    display: flex;

} */